{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<section class='text-center container'>
    <h2>Student Dictionary</h2>
    <p>Enter any word to get the phonetics, definition and an example for the word</p>
    <form action="" method="post">
        {{form}}
        {% csrf_token %}
        <input class="btn btn-danger btn-sm" style="margin-left:20px;margin-bottom:5px;" type="submit" value="Submit">
    </form><br>
    <div class="content-section p-0 mt-5">
        
        {% if input %}
        <div class="custom-header">
            <h2>{{input}}</h2>
            <h6>{{phonetics}}</h6>
            <audio id="player" src="{{audio}}"><i class='fa fa-volume-up fa-2x'></i></audio>
            <div>
                <button onclick="document.getElementById('player').play()" style="border:none;"><i class='fa fa-volume-up fa-2x'></i></button> 
            </div>
        </div>

        <hr>

        <p class="float-left pt-5">
            <h4>Definition: {{definition}}</h4>
            <br>
            {% if example %}
                <h4>Example: {{example}}</h4>
            {% endif %}
                
        </p>
        
        <hr>

    </div>
    {% else %}
    <h2>Sorry, API request limit exceeded</h2>
    {% endif %}
</section>
{% endblock content %}